<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537150541314-qqgf17ceisrr82vdbtakbp0k44louscg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537150541314-qqgf17ceisrr82vdbtakbp0k44louscg</string>
	<key>API_KEY</key>
	<string>AIzaSyAz5z1Xh8adfFIjLLO57Vr1_rdjDolVNGw</string>
	<key>GCM_SENDER_ID</key>
	<string>537150541314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.hotelo.kraba</string>
	<key>PROJECT_ID</key>
	<string>hotelo-6ea4b</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelo-6ea4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537150541314:ios:f838a2760fd2be9442611b</string>
</dict>
</plist>